<div>
	<h1>欢迎</h1>
</div>
<div>
	<form action="###" method="post" accept-charset="utf-8">
		<input type="button" name="" value="so click" class="form-control">
		<input type="text" name="" value="" placeholder="text here">
	</form>
	<button type="" class="btn btn-primary">click me</button>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			1
		</div>
		<div class="col-lg-6">
			2
		</div>
	</div>
</div>